@import './scss/typography';
@import './scss/colors';
@import './scss/shadows';
@import './scss/border-radius';
@import './scss/spacing';

$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 0.75rem;
$space-m: 1.25rem;
$space-l: 2rem;
$space-xl: 3.25rem;
$space-xxl: 5.25rem;

.button {
	cursor: pointer;
	font-style: normal;
	display: inline-block;
  	border: 0px;
	font-family: $font-face-roboto;
	font-weight: $font-weight-bold;
	font-size: $font-size-button;
	line-height: $font-line-height-button;
	border-radius: $border-radius-s;
	padding: $space-xxs $space-s;
  	height: 2rem;
}

.button--medium {
  	height: 2rem;
	padding: $space-xxs $space-s;
}
.button--small {
  	height: 1.5rem;
	padding: $space-xxs $space-xs;
}

.button--primary {
	background-color: $color-blue-default-d;
	color: $color-white;
	text-shadow: $shadow-light-text-m;
}
.button--primary.theme-dark {
	background-color: $color-blue-default-d;
	color: $color-white;
}
.button--primary.theme-light {
	background-color: $color-blue-default-l;
	color: $color-white;
}

.button--secondary {
	background-color: $color-ocean-white;
	color: $color-periwinkle-darker-d;
	text-shadow: $shadow-dark-text-m;
}
.button--secondary.theme-dark {
	background-color: $color-ocean-white;
	color: $color-periwinkle-darker-d;
}
.button--secondary.theme-light {
	background-color: $color-ocean-lighter;
	color: $color-ocean-darker;
}

.button--tertiary {
	background-color: transparent;
	color: $color-ocean-lightest;
  border: 2px solid $color-ocean-lighter;
	text-shadow: $shadow-light-text-m;
}
.button--tertiary.theme-dark {
	background-color: transparent;
	color: $color-ocean-lightest;
  border: 2px solid $color-ocean-lighter;
	text-shadow: $shadow-light-text-m;
}
.button--tertiary.theme-light {
	background-color: transparent;
	color: $color-periwinkle-dark-l;
  border: 2px solid $color-periwinkle-dark-l;
	text-shadow: $shadow-dark-text-m;
}

.button--destructive {
	background-color: $color-red-default-d;
	color: $color-white;
	text-shadow: $shadow-light-text-m;
}
.button--destructive.theme-dark {
	background-color: $color-red-default-d;
	color: $color-white;
}
.button--destructive.theme-light {
	background-color: $color-red-default-l;
	color: $color-white;
}


.button--ghost {
	background-color: transparent;
	color: $color-white;
	// text-shadow: $shadow-cyan-default-d;
}
.button--ghost.theme-dark {
	background-color: transparent;
	color: $color-cyan-default-d;
}
.button--ghost.theme-light {
	background-color: transparent;
	color: $color-blue-dark-l;
}


.button--inline {
	font-weight: $font-weight-normal;
  height: auto;
  padding: 0;
	background-color: transparent;
	color: $color-white;
	// text-shadow: $shadow-cyan-default-d;
}
.button--inline.theme-dark {
	background-color: transparent;
	color: $color-cyan-default-d;
}
.button--inline.theme-light {
	background-color: transparent;
	color: $color-blue-dark-l;
}
