// :root {
$color-black: #000000;
$color-white: #ffffff;
  
$color-ocean-black: #061029;
$color-ocean-darkest: #0c1836;
$color-ocean-darker: #253357;
$color-ocean-dark: #435175;
$color-ocean-default: #7282AB;
$color-ocean-light: #A8B8E0;
$color-ocean-lighter: #cbd6f2;
$color-ocean-lightest: #E5ECFE;
$color-ocean-white: #F8FAFF;


$color-blue-darker-d: #0632A1;
$color-blue-dark-d: #0841D4;
$color-blue-default-d: #0C50FF;
$color-blue-light-d: #4D7EFF;
$color-blue-lighter-d: #8CACFF;
$color-blue-darker-l: #073099;
$color-blue-dark-l: #0A40CC;
$color-blue-default-l: #0C50FF;
$color-blue-light-l: #4579FF;
$color-blue-lighter-l: #87A9FF;
  
$color-orange-darker-d: #a84e0a;
$color-orange-dark-d: #db5a00;
$color-orange-default-d: #ff6900;
$color-orange-light-d: #fcac73;
$color-orange-lighter-d: #ffc399;
$color-orange-darker-l: #a84e0a;
$color-orange-dark-l: #d65800;
$color-orange-default-l: #fa6700;
$color-orange-light-l: #ffb785;
$color-orange-lighter-l: #ffc9a3;
  
$color-periwinkle-darker-d: #344C89;
$color-periwinkle-dark-d: #3C5CAF;
$color-periwinkle-default-d: #4A6EC9;
$color-periwinkle-light-d: #9CB3ED;
$color-periwinkle-lighter-d: #C9D5F3;
$color-periwinkle-darker-l: #30437E;
$color-periwinkle-dark-l: #3955A7;
$color-periwinkle-default-l: #4667C8;
$color-periwinkle-light-l: #B2C2F1;
$color-periwinkle-lighter-l: #D0DBF6;
  
$color-cyan-darker-d: #1F858E;
$color-cyan-dark-d: #24B0BC;
$color-cyan-default-d: #2DD7E6;
$color-cyan-light-d: #81E5EE;
$color-cyan-lighter-d: #BBF7FC;
$color-cyan-darker-l: #1D7D86;
$color-cyan-dark-l: #23ACB8;
$color-cyan-default-l: #2DD7E6;
$color-cyan-light-l: #81E5EE;
$color-cyan-lighter-l: #BBF6FC;

$color-green-darker-d: #08732B;
$color-green-dark-d: #1A9E46;
$color-green-default-d: #25C159;
$color-green-light-d: #6BE192;
$color-green-lighter-d: #A1E8B9;
$color-green-darker-l: #077D2F;
$color-green-dark-l: #1BAC4B;
$color-green-default-l: #25CB5C;
$color-green-light-l: #73E298;
$color-green-lighter-l: #ADEBC2;
  
$color-red-darker-d: #8d1115;
$color-red-dark-d: #ac1b20;
$color-red-default-d: #ce2127;
$color-red-light-d: #f29295;
$color-red-lighter-d: #fac1c3;
$color-red-darker-l: #971116;
$color-red-dark-l: #b71a20;
$color-red-default-l: #d72329;
$color-red-light-l: #f49fa1;
$color-red-lighter-l: #fbc5c7;

$color-yellow-lighter-d: #f5e3a8;
$color-yellow-light-d: #f4d676;
$color-yellow-default-d: #eac348;
$color-yellow-dark-d: #d2a618;
$color-yellow-darker-d: #aa8513;
$color-yellow-lighter-l: #f5e3a8;
$color-yellow-light-l: #f4d676;
$color-yellow-default-l: #e1b619;
$color-yellow-dark-l: #af8c0d;
$color-yellow-darker-l: #866901;
// }
