$shadow-s: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
$shadow-m: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
$shadow-l: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
$shadow-xl: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
$shadow-xxl: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);

$shadow-input: inset -1px -1px 1px rgba(255, 255, 255, 0.11), inset 1px 1px 2px rgba(0, 0, 0, 0.11);
$shadow-input-v: inset 0px -1px 2px -1px rgba(0, 0, 0, 0.11), inset 0px 2px 2px -1px rgba(0, 0, 0, 0.11);

$shadow-dark-text-s: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.12);
$shadow-dark-text-m: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.12), 0.5px 0.5px 4px rgba(255, 255, 255, 0.1);
$shadow-dark-text-l: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.12), 0.5px 0.5px 4px rgba(255, 255, 255, 0.1), 1px 1px 16px rgba(255, 255, 255, 0.55);
$shadow-light-text-s: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.16);
$shadow-light-text-m: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.16), 1px 1px 3px rgba(0, 0, 0, 0.18);
$shadow-light-text-l: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.16), 1px 1px 3px rgba(0, 0, 0, 0.18), -7px 1px 16px rgba(0, 0, 0, 0.4);
